@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown:hover .content{
    display: block;
}

.map-wrap {
    position: relative;
    width: 100%;
    height: calc(100vh - 77px); /* calculate height of the screen minus the heading */
  }
  
  .map {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  .geocoding {
    position: absolute;
    top: 10px;
    left: 10px;
  }


